/* Universal Selector */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dbfae6;
    font-family: Arial, Helvetica, sans-serif;
}


/* Dropdown */
.hero_nav-bar {
    background-color: #1c943c;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.hero_dropdown {

}

.hero_dropdown:hover {
    background-color: #16c640;
}


/* Containers */
.instructions_container {
    background-color: white;
    padding: 1rem;
    margin: 1rem 10rem;
}

.extra_credit_container {
    background-color: white;
    padding: 1rem;
    margin: 1rem 10rem;
}