/* Universal Selector */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dbfae6;
    font-family: Arial, Helvetica, sans-serif;
}

/* Dropdown */
.hero_nav-bar {
    background-color: #1c943c;
    display: flex;
    flex-direction: row;
}

.hero_dropdown {
    padding: 5px 4rem 5px 10px;
    position: relative;
    overflow: visible;
}

.hero_dropdown:hover {
    background-color: #16c640;
}

.hero_dropdown_content {
    position: absolute;
}

.hero_dropdown a {
    padding: 5px 4rem 5px 10px;
    text-decoration: none;
    opacity: 0;
    z-index: 1;
}

.hero_dropdown a:hover {
    opacity: 1;
    background-color: #00ff41;
}

/* Containers */
.instructions_container {
    background-color: white;
    border-left: 5px solid #16c640;
    padding: 15px;
    margin: 25px;
}

.container_highlight {
    font-style: italic;
    font-weight: bold;
}

.container_content {
    padding: 15px 0px;
}

.extra_credit_container {
    background-color: white;
    border-left: 5px solid #f6f754;
    padding: 15px;
    margin: 25px;
}