/* Universal selector */
* {
    border: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


/* body */
body {
    background-color: #000814;
}


/* top-nav */
.hero {
    background-color: #001D3D;
}

.hero_nav-container {
    display: flex;
    flex-direction: row-reverse;
}

.hero_nav-menu {
    display: flex;
}

.hero_nav-link {
    display: flex;
    justify-content: center;
    color: #FFC300;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    min-width: 5rem;
}

.hero_nav-link:hover {
    color: #003566;
    background-color: #FFD60A;
}